[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
pydantic = "*"
pymongo = "*"
validate-docbr = "*"

[dev-packages]

[requires]
python_version = "3.8"
